@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.main {
  width: 375px;
  height: 662px;
  background-image: url(header-shapes\ mobile.png);
  background-repeat: no-repeat;
  background-position: 1px 100px;
}

.header {
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 375px;
  height: 44px;
  flex-shrink: 0;
}

.heading {
  color: var(--primary-b-400, #6070ff);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; 
}

.bg {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  transform: translate(20px);
  gap: 12px;
}

.ptext {
  display: flex;
  width: 327px;
  height: 150px;
  flex-direction: column;
  justify-content: center;
}

.ptextl {
  color: var(--neutrals-n-800, #172b4d);
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.detail {
  color: var(--neutrals-n-600, #344563);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.connect {
  color: var(--primary-b-300, #7f8cff);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.socialmedia {
  width: 170.167px;
  height: 1px;
  margin-top: 140px;
}

.header1 {
  display: flex;
  width: 375px;
  height: 48px;
  padding: 4px 24px 4px 12px;
  align-items: flex-start;
  gap: 199px;
  flex-shrink: 0;
}

.symbol {
  width: 24px;
  height: 24px;
}
.works {}

.card {
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 16px;
  padding: 11px;
  width: 327px;
  border: 2px solid #dfe1e6;
  margin-top: 60px;
  border-radius: 16px;
}

.card img {
  width: 295px;
  height: 220px;
}

.cardtitle {
  color: #172B4D;
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 44px;
  margin: 0;
  word-wrap: break-word;
}

.Role {
  display: flex;
  align-items: center;
  gap: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
}

.greytext {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: rgba(122, 134, 154, 1);
}

.dailysection {
  color: #344563;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.languages {
  display: flex;
  align-items: center;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.lang {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  font-style: normal;
  letter-spacing: 0.36px;
  border-radius: 8px;
  background-color: rgba(235, 235, 255, 1);
  padding: 4px 12px;
  color: rgba(96, 112, 255, 1);
}

.action {
  display: flex;
  padding: 12px 0;
  align-items: center;
}

.seeproject {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 10px;
  border: 1px solid;
  background-color: white;
  border-color: rgba(96, 112, 255, 1);
  border-radius: 8px;
  color: var(--primary-b-500, #396DF2);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
}

.abtmyself {
  display: inline-flex;
  padding: 114px 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.format {
  list-style-type: none;
}

.frame7 {
  display: flex;
  padding: 16px 12px;
  align-items: center;
  gap: 12px;
}

.langlist {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.frame8 {
  width: 327px;
  height: 72px;
}

.frame9 {
  width: 327px;
  height: 72px;
}
